.App {
  background-color: #121314;
  min-height: 100vh;
  /*This make sure that the height of App is full */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main {
  max-height: 90vh;
  width: 50vw;
}

.ShortActions {
  padding-left: 4px;
  padding-left: 4px;
  display: flex;
  align-self: center;

}