.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #121314;
}

.Main {
  max-height: 90vh;
}

.ShortActions {
  padding-left: 4px;
  padding-left: 4px;
  display: flex;
  align-self: center;
}