.App {
  background-color: #212121;
  min-height: 100vh;
  /*This make sure that the height of App is full */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main {
  background-color: #343536;
  max-height: 50vh;
  width: 70vh;
}

.ActionButtons {

}